@font-face {
  font-family: "Museo500";

  src: url('../fonts/Museo500/Museo500.otf');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "Montserrat";

  src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "GothamLight";

  src: url('../fonts/Gotham/GothamLight/HoeflerType/GothamLight.otf');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "MontserratRegular";

  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "Museo300";

  src: url('../fonts/Museo300/Museo300.otf');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "MontserratThin";

  src: url('../fonts/Montserrat/static/Montserrat-Thin.ttf');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "GothamBlack";

  src: url('../fonts/Gotham/GothamBlack/HoeflerType/GothamBlack.otf');

  font-weight: normal;

  font-style: normal;
}

/*
! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.inset-y-0 {
  top: 0px;
  bottom: 0px;
}

.top-0 {
  top: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.right-0 {
  right: 0px;
}

.top-\[90\%\] {
  top: 90%;
}

.z-\[-1\] {
  z-index: -1;
}

.z-\[20\] {
  z-index: 20;
}

.z-\[1\] {
  z-index: 1;
}

.z-\[10\] {
  z-index: 10;
}

.z-\[999\] {
  z-index: 999;
}

.z-20 {
  z-index: 20;
}

.z-10 {
  z-index: 10;
}

.m-auto {
  margin: auto;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-\[20\%\] {
  margin-left: 20%;
  margin-right: 20%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-\[3\%\] {
  margin-left: 3%;
  margin-right: 3%;
}

.mx-\[5\%\] {
  margin-left: 5%;
  margin-right: 5%;
}

.mt-\[80\%\] {
  margin-top: 80%;
}

.ml-\[10\%\] {
  margin-left: 10%;
}

.mr-\[20\%\] {
  margin-right: 20%;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mb-\[10\%\] {
  margin-bottom: 10%;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-\[125\%\] {
  margin-top: 125%;
}

.mt-\[5\%\] {
  margin-top: 5%;
}

.mt-10 {
  margin-top: 2.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-\[12px\] {
  margin-top: 12px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-3 {
  height: 0.75rem;
}

.h-2 {
  height: 0.5rem;
}

.h-full {
  height: 100%;
}

.h-8 {
  height: 2rem;
}

.h-10 {
  height: 2.5rem;
}

.h-\[600px\] {
  height: 600px;
}

.h-20 {
  height: 5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-7 {
  height: 1.75rem;
}

.h-11 {
  height: 2.75rem;
}

.h-40 {
  height: 10rem;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[10\%\] {
  height: 10%;
}

.h-\[8\%\] {
  height: 8%;
}

.min-h-\[350px\] {
  min-height: 350px;
}

.min-h-\[400px\] {
  min-height: 400px;
}

.min-h-full {
  min-height: 100%;
}

.min-h-\[490px\] {
  min-height: 490px;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-1 {
  width: 0.25rem;
}

.w-\[350px\] {
  width: 350px;
}

.w-5 {
  width: 1.25rem;
}

.w-\[250px\] {
  width: 250px;
}

.w-7 {
  width: 1.75rem;
}

.w-11 {
  width: 2.75rem;
}

.w-\[48\%\] {
  width: 48%;
}

.w-\[200px\] {
  width: 200px;
}

.w-20 {
  width: 5rem;
}

.w-60 {
  width: 15rem;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[330px\] {
  width: 330px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[80\%\] {
  width: 80%;
}

.min-w-full {
  min-width: 100%;
}

.min-w-\[300px\] {
  min-width: 300px;
}

.min-w-\[350px\] {
  min-width: 350px;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-b-gray-500 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(107 114 128 / var(--tw-border-opacity));
}

.border-b-white {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-amber-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 243 199 / var(--tw-bg-opacity));
}

.bg-\[\#00AC95\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 172 149 / var(--tw-bg-opacity));
}

.bg-\[\#86efac\] {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-yellow-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity));
}

.bg-\[\#F3EFA1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 239 161 / var(--tw-bg-opacity));
}

.bg-\[\#0085A9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 133 169 / var(--tw-bg-opacity));
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\#28B5A0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(40 181 160 / var(--tw-bg-opacity));
}

.bg-\[\#7070E2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(112 112 226 / var(--tw-bg-opacity));
}

.bg-\[\#EAAD0A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(234 173 10 / var(--tw-bg-opacity));
}

.bg-\[\#AFBBDD\] {
  --tw-bg-opacity: 1;
  background-color: rgb(175 187 221 / var(--tw-bg-opacity));
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-\[\#1CA591\] {
  --tw-bg-opacity: 1;
  background-color: rgb(28 165 145 / var(--tw-bg-opacity));
}

.bg-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity));
}

.bg-sky-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(125 211 252 / var(--tw-bg-opacity));
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-\[5\%\] {
  padding-left: 5%;
  padding-right: 5%;
}

.px-\[10\%\] {
  padding-left: 10%;
  padding-right: 10%;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.pb-\[15\%\] {
  padding-bottom: 15%;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pt-\[99\%\] {
  padding-top: 99%;
}

.pl-\[10\%\] {
  padding-left: 10%;
}

.pl-\[8\%\] {
  padding-left: 8%;
}

.pr-\[5\%\] {
  padding-right: 5%;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pl-\[20px\] {
  padding-left: 20px;
}

.pt-\[5\%\] {
  padding-top: 5%;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-\[5\%\] {
  padding-left: 5%;
}

.pt-\[20\%\] {
  padding-top: 20%;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-\[10\%\] {
  padding-right: 10%;
}

.pt-\[3\%\] {
  padding-top: 3%;
}

.pb-\[10\%\] {
  padding-bottom: 10%;
}

.pt-\[2\%\] {
  padding-top: 2%;
}

.pl-\[3\%\] {
  padding-left: 3%;
}

.pl-4 {
  padding-left: 1rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pt-\[35\%\] {
  padding-top: 35%;
}

.pt-\[70\%\] {
  padding-top: 70%;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-20 {
  padding-right: 5rem;
}

.pt-\[10\%\] {
  padding-top: 10%;
}

.pt-\[4\%\] {
  padding-top: 4%;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-\[40px\] {
  padding-left: 40px;
}

.text-center {
  text-align: center;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.leading-tight {
  line-height: 1.25;
}

.leading-4 {
  line-height: 1rem;
}

.leading-normal {
  line-height: 1.5;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-\[\#A4EDC2\] {
  --tw-text-opacity: 1;
  color: rgb(164 237 194 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#00AC95\] {
  --tw-text-opacity: 1;
  color: rgb(0 172 149 / var(--tw-text-opacity));
}

.text-\[\#606060\] {
  --tw-text-opacity: 1;
  color: rgb(96 96 96 / var(--tw-text-opacity));
}

.text-\[\#FFFFFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#88bb9d\] {
  --tw-text-opacity: 1;
  color: rgb(136 187 157 / var(--tw-text-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.decoration-slate-100 {
  text-decoration-color: #f1f5f9;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-150 {
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.hover\:bg-blue-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity));
}

.hover\:shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:border-blue-400:focus {
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity));
}

.focus\:bg-blue-700:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.focus\:shadow-lg:focus {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-4:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity));
}

.active\:bg-blue-800:active {
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity));
}

.active\:shadow-lg:active {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  }

  .dark\:hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity));
  }

  .dark\:focus\:ring-blue-800:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(30 64 175 / var(--tw-ring-opacity));
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:z-\[-1\] {
    z-index: -1;
  }

  .max-sm\:hidden {
    display: none;
  }

  .max-sm\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
}

@media (max-width: 588px) {
  .max-\[588px\]\:z-\[-1\] {
    z-index: -1;
  }

  .max-\[588px\]\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
}

@media (max-width: 460px) {
  .max-\[460px\]\:h-\[400px\] {
    height: 400px;
  }
}

@media (min-width: 640px) {
  .sm\:mx-\[5\%\] {
    margin-left: 5%;
    margin-right: 5%;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:mb-\[36px\] {
    margin-bottom: 36px;
  }

  .sm\:mr-\[10px\] {
    margin-right: 10px;
  }

  .sm\:h-\[600px\] {
    height: 600px;
  }

  .sm\:h-\[500px\] {
    height: 500px;
  }

  .sm\:h-\[50px\] {
    height: 50px;
  }

  .sm\:min-h-full {
    min-height: 100%;
  }

  .sm\:w-\[33\%\] {
    width: 33%;
  }

  .sm\:w-\[80\%\] {
    width: 80%;
  }

  .sm\:w-\[350px\] {
    width: 350px;
  }

  .sm\:w-\[280px\] {
    width: 280px;
  }

  .sm\:w-\[234px\] {
    width: 234px;
  }

  .sm\:w-\[100px\] {
    width: 100px;
  }

  .sm\:w-\[120px\] {
    width: 120px;
  }

  .sm\:w-full {
    width: 100%;
  }

  .sm\:min-w-\[65\%\] {
    min-width: 65%;
  }

  .sm\:min-w-\[35\%\] {
    min-width: 35%;
  }

  .sm\:min-w-\[33\%\] {
    min-width: 33%;
  }

  .sm\:min-w-\[20\%\] {
    min-width: 20%;
  }

  .sm\:min-w-\[80\%\] {
    min-width: 80%;
  }

  .sm\:min-w-\[55\%\] {
    min-width: 55%;
  }

  .sm\:min-w-\[45\%\] {
    min-width: 45%;
  }

  .sm\:min-w-\[67\%\] {
    min-width: 67%;
  }

  .sm\:min-w-\[350px\] {
    min-width: 350px;
  }

  .sm\:min-w-\[30\%\] {
    min-width: 30%;
  }

  .sm\:min-w-\[70\%\] {
    min-width: 70%;
  }

  .sm\:flex-\[1_1_50\%\] {
    flex: 1 1 50%;
  }

  .sm\:flex-\[1_1_65\%\] {
    flex: 1 1 65%;
  }

  .sm\:flex-\[1_1_35\%\] {
    flex: 1 1 35%;
  }

  .sm\:flex-\[1_1_20\%\] {
    flex: 1 1 20%;
  }

  .sm\:flex-\[1_1_80\%\] {
    flex: 1 1 80%;
  }

  .sm\:flex-\[1_1_55\%\] {
    flex: 1 1 55%;
  }

  .sm\:flex-\[1_1_45\%\] {
    flex: 1 1 45%;
  }

  .sm\:flex-\[1_1_33\%\] {
    flex: 1 1 33%;
  }

  .sm\:flex-\[1_1_67\%\] {
    flex: 1 1 67%;
  }

  .sm\:flex-\[1_1_30\%\] {
    flex: 1 1 30%;
  }

  .sm\:flex-\[1_1_70\%\] {
    flex: 1 1 70%;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-end {
    justify-content: flex-end;
  }

  .sm\:pt-0 {
    padding-top: 0px;
  }

  .sm\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .sm\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 768px) {
  .md\:mb-\[28px\] {
    margin-bottom: 28px;
  }

  .md\:mb-\[78px\] {
    margin-bottom: 78px;
  }

  .md\:mb-\[100px\] {
    margin-bottom: 100px;
  }

  .md\:h-\[600px\] {
    height: 600px;
  }

  .md\:h-\[75px\] {
    height: 75px;
  }

  .md\:w-\[80\%\] {
    width: 80%;
  }

  .md\:w-\[90\%\] {
    width: 90%;
  }

  .md\:w-\[150px\] {
    width: 150px;
  }

  .md\:min-w-\[80\%\] {
    min-width: 80%;
  }

  .md\:min-w-\[90\%\] {
    min-width: 90%;
  }

  .md\:pt-\[99\.5\%\] {
    padding-top: 99.5%;
  }

  .md\:pt-\[4\%\] {
    padding-top: 4%;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 778px) {
  .min-\[778px\]\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 922px) {
  .min-\[922px\]\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:mb-\[92px\] {
    margin-bottom: 92px;
  }

  .lg\:h-\[100px\] {
    height: 100px;
  }

  .lg\:w-\[320px\] {
    width: 320px;
  }

  .lg\:w-\[200px\] {
    width: 200px;
  }

  .lg\:pt-\[102\%\] {
    padding-top: 102%;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1136px) {
  .min-\[1136px\]\:text-\[17px\] {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  .xl\:pt-\[104\%\] {
    padding-top: 104%;
  }

  .xl\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}
